/* line 1, app/styles/icons.scss */
.icon-app-icons-logo {
  width: 128px;
  height: 128px;
  background: url(/images/icons.png) 0px 0px no-repeat;
}

/* line 4, app/styles/app.scss */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  color: #0f2105;
  font-size: 16px;
}

/* line 17, app/styles/app.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 22, app/styles/app.scss */
ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 28, app/styles/app.scss */
.left {
  float: left;
}

/* line 32, app/styles/app.scss */
.right {
  float: right;
}

/* line 36, app/styles/app.scss */
ul.nav {
  display: block;
}
/* line 39, app/styles/app.scss */
ul.nav > li {
  display: inline-block;
}

/* line 44, app/styles/app.scss */
button, .btn {
  display: inline-block;
  border-radius: 5px;
  background: none;
  border: none;
  font-size: 16px;
  padding: 13px 30px;
  cursor: pointer;
}
/* line 53, app/styles/app.scss */
button.btn-big, .btn.btn-big {
  font-size: 18px;
}
/* line 56, app/styles/app.scss */
button.btn-large, .btn.btn-large {
  font-size: 32px;
  padding: 17px 45px;
}
/* line 60, app/styles/app.scss */
button.btn-round, .btn.btn-round {
  border-radius: 1000px;
}
/* line 63, app/styles/app.scss */
button.btn-primary, .btn.btn-primary {
  color: white;
  background-color: #0a5ca9;
  font-weight: bold;
}
/* line 68, app/styles/app.scss */
button.btn-border, .btn.btn-border {
  border: 2px solid white;
  color: white;
}
/* line 72, app/styles/app.scss */
button.btn-border:hover, .btn.btn-border:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 78, app/styles/app.scss */
.progress {
  display: block;
  height: 8px;
  width: 100%;
  border-radius: 1000px;
  background-color: #d9d9de;
}
/* line 85, app/styles/app.scss */
.progress > span {
  display: block;
  height: 8px;
  border-radius: 1000px;
  background-color: #00a0ff;
}
/* line 92, app/styles/app.scss */
.progress.progress-border {
  height: 6px;
  border: 1px solid white;
  position: relative;
  background-color: transparent;
}
/* line 98, app/styles/app.scss */
.progress.progress-border > span {
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: white;
}

/* line 108, app/styles/app.scss */
.progress-group .progress-info {
  display: block;
}
/* line 111, app/styles/app.scss */
.progress-group .progress-info > li {
  display: inline-block;
  line-height: 2em;
  font-weight: bold;
  margin-right: 20px;
}
/* line 117, app/styles/app.scss */
.progress-group .progress-info > li > span {
  opacity: 0.7;
  margin-right: 5px;
  font-weight: normal;
  font-size: 12px;
}

/* line 127, app/styles/app.scss */
.container-10 {
  width: 1000px;
  margin: 0 auto;
}

/* line 131, app/styles/app.scss */
.container-12 {
  width: 1200px;
  margin: 0 auto;
}

/* line 136, app/styles/app.scss */
.staff {
  display: block;
  width: 416px;
  cursor: pointer;
}
/* line 141, app/styles/app.scss */
.staff .image {
  border-radius: 5px 5px 0 0;
  height: 200px;
  background-position: 50% 50%;
  background-size: 100% auto;
  position: relative;
}
/* line 148, app/styles/app.scss */
.staff .image > .author {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 5px 0 0;
  padding: 3px 10px;
  color: white;
  font-size: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 163, app/styles/app.scss */
.staff .infos {
  border-radius: 0 0 5px 5px;
  border-left: 1px solid #d9d9de;
  border-right: 1px solid #d9d9de;
  border-bottom: 1px solid #d9d9de;
  padding: 10px;
  font-size: 14px;
}
/* line 173, app/styles/app.scss */
.staff .infos > h3 {
  margin: 0;
}
/* line 176, app/styles/app.scss */
.staff .infos > p {
  color: #828587;
  height: 80px;
}
/* line 4, app/styles/detail.scss */
.user-profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99999;
  display: none;
}
/* line 14, app/styles/detail.scss */
.user-profile .profile {
  margin: 50px auto 0;
  width: 900px;
  border-radius: 5px;
  border: 1px solid #d9d9de;
  background-color: white;
}
/* line 21, app/styles/detail.scss */
.user-profile .profile > .close {
  display: block;
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
  color: #828587;
}
/* line 29, app/styles/detail.scss */
.user-profile .profile > .user-content {
  padding: 80px 60px;
}
/* line 32, app/styles/detail.scss */
.user-profile .profile > .user-content .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: 100% 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 42, app/styles/detail.scss */
.user-profile .profile > .user-content .info {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}
/* line 47, app/styles/detail.scss */
.user-profile .profile > .user-content .info > h3 {
  font-size: 32px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 15px;
}
/* line 55, app/styles/detail.scss */
.user-profile .profile > .user-content .info > ul > li {
  display: inline-block;
  font-size: 14px;
  color: #828587;
  margin-right: 20px;
}
/* line 61, app/styles/detail.scss */
.user-profile .profile > .user-content .info > ul > li a {
  color: #00a0ff;
}
/* line 67, app/styles/detail.scss */
.user-profile .profile > .user-content .introduce {
  margin-top: 80px;
  display: inline-block;
  width: 430px;
  vertical-align: top;
}
/* line 73, app/styles/detail.scss */
.user-profile .profile > .user-content .products {
  margin-top: 80px;
  margin-left: 90px;
  display: inline-block;
  width: 250px;
  vertical-align: top;
}
/* line 80, app/styles/detail.scss */
.user-profile .profile > .user-content .products > li {
  text-align: right;
  margin-bottom: 20px;
}
/* line 84, app/styles/detail.scss */
.user-profile .profile > .user-content .products > li .percent {
  float: left;
  font-size: 12px;
  margin-top: 5px;
}
/* line 90, app/styles/detail.scss */
.user-profile .profile > .user-content .products > li h4 {
  margin: 0;
}
/* line 93, app/styles/detail.scss */
.user-profile .profile > .user-content .products > li .mini-progress {
  margin-top: 3px;
  width: 100%;
  border-bottom: 1px solid #d9d9de;
}
/* line 98, app/styles/detail.scss */
.user-profile .profile > .user-content .products > li .mini-progress > .p {
  height: 2px;
  background-color: #00a0ff;
}

/* line 110, app/styles/detail.scss */
.content .item-primary-info-background {
  position: absolute;
  width: 100%;
  height: 450px;
  background-color: #f7fafa;
  border-bottom: 1px solid #d9d9de;
}
/* line 119, app/styles/detail.scss */
.content .item .primary-info {
  position: relative;
  padding: 60px 0 40px;
  border-bottom: 1px solid #d9d9de;
}
/* line 125, app/styles/detail.scss */
.content .item .primary-info .primary-image {
  /* border: 1px solid $border-color; */
  width: 600px;
  height: 500px;
  border-radius: 2px;
  background-position: 50% 50%;
  background-size: auto 100%;
}
/* line 135, app/styles/detail.scss */
.content .item .primary-info .tags {
  color: #828587;
  font-size: 14px;
  margin-top: 20px;
  font-weight: bold;
}
/* line 141, app/styles/detail.scss */
.content .item .primary-info .tags > li {
  display: inline-block;
  margin-right: 20px;
}
/* line 147, app/styles/detail.scss */
.content .item .primary-info > p {
  width: 600px;
  margin-bottom: 0;
  margin-top: 40px;
  font-size: 24px;
  line-height: 1.5em;
}
/* line 155, app/styles/detail.scss */
.content .item .primary-info .primary-right {
  width: 360px;
}
/* line 158, app/styles/detail.scss */
.content .item .primary-info .primary-right > h1 {
  margin: 0;
  font-size: 48px;
}
/* line 163, app/styles/detail.scss */
.content .item .primary-info .primary-right > ul {
  margin-top: 40px;
  height: 330px;
}
/* line 167, app/styles/detail.scss */
.content .item .primary-info .primary-right > ul > li {
  margin: 20px 0;
  font-size: 48px;
  font-weight: bold;
}
/* line 172, app/styles/detail.scss */
.content .item .primary-info .primary-right > ul > li > span {
  display: block;
  color: #828587;
  font-size: 16px;
  font-weight: normal;
}
/* line 181, app/styles/detail.scss */
.content .item .primary-info .primary-right .author {
  margin-top: 40px;
}
/* line 184, app/styles/detail.scss */
.content .item .primary-info .primary-right .author > h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
/* line 188, app/styles/detail.scss */
.content .item .primary-info .primary-right .author > span {
  display: block;
  color: #828587;
  font-size: 14px;
  margin: 5px 0;
}
/* line 194, app/styles/detail.scss */
.content .item .primary-info .primary-right .author > a {
  color: #00a0ff;
  display: inline-block;
  margin-top: 10px;
  margin-right: 60px;
  font-weight: bold;
}
/* line 201, app/styles/detail.scss */
.content .item .primary-info .primary-right .author > .author-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: 100% 100%;
}
/* line 212, app/styles/detail.scss */
.content .detail {
  margin-bottom: 40px;
  overflow: hidden;
  *zoom: 1;
}
/* line 217, app/styles/detail.scss */
.content .detail .tabs > li {
  cursor: pointer;
  display: inline-block;
  margin-right: 40px;
  padding: 30px 0;
}
/* line 223, app/styles/detail.scss */
.content .detail .tabs > li.selected {
  border-bottom: 4px solid #0a5ca9;
}
/* line 229, app/styles/detail.scss */
.content .detail .recommended {
  width: 360px;
}
/* line 232, app/styles/detail.scss */
.content .detail .recommended > h2 {
  margin: 0;
}
/* line 236, app/styles/detail.scss */
.content .detail .recommended .staff {
  width: 100%;
  margin-top: 30px;
}
/* line 242, app/styles/detail.scss */
.content .detail .tab-contents {
  width: 600px;
  margin-top: 40px;
}
/* line 247, app/styles/detail.scss */
.content .detail .tab-contents .content h1 {
  font-size: 24px;
}
/* line 250, app/styles/detail.scss */
.content .detail .tab-contents .content p {
  line-height: 1.5em;
}
/* line 253, app/styles/detail.scss */
.content .detail .tab-contents .content img {
  display: block;
  width: 100%;
}
/* line 1, app/styles/icons.scss */
.icon-app-icons-logo {
  width: 128px;
  height: 128px;
  background: url(/images/icons.png) 0px 0px no-repeat;
}
/* line 4, app/styles/index.scss */
.header {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #d9d9de;
}
/* line 7, app/styles/index.scss */
.header.absolute {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 17, app/styles/index.scss */
.header h1.site-logo {
  display: block;
  margin: 0;
  padding: 20px 40px;
  line-height: 20px;
  font-size: 24px;
  font-weight: normal;
}
/* line 25, app/styles/index.scss */
.header h1.site-logo .haier {
  color: #0a5ca9;
}
/* line 28, app/styles/index.scss */
.header h1.site-logo .diy {
  font-weight: bold;
  color: #00a0ff;
}
/* line 34, app/styles/index.scss */
.header .user-nav {
  padding-left: 20px;
  margin-right: 40px;
  /* border-left: 1px solid $border-color; */
}
/* line 39, app/styles/index.scss */
.header .user-nav > li > a {
  display: block;
  padding: 20px 15px;
  line-height: 20px;
  color: #00a0ff;
}
/* line 45, app/styles/index.scss */
.header .user-nav > li > a:hover {
  color: #828587;
  background-color: #f7fafa;
}
/* line 52, app/styles/index.scss */
.header .search {
  display: inline-block;
  padding: 20px 40px;
  line-height: 20px;
}
/* line 57, app/styles/index.scss */
.header .search > i {
  margin-right: 20px;
  color: #828587;
}
/* line 62, app/styles/index.scss */
.header .search > input {
  border: none;
  width: 720px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  background: none;
}
/* line 72, app/styles/index.scss */
.header .border-left {
  position: relative;
}
/* line 75, app/styles/index.scss */
.header .border-left::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 26px;
  height: 10px;
  border-left: 1px solid #828587;
}

/* line 88, app/styles/index.scss */
.content .important-things {
  width: 100%;
  height: 600px;
  position: relative;
}
/* line 94, app/styles/index.scss */
.content .thing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-position: 50% 50%;
  background-size: 100% auto;
}
/* line 103, app/styles/index.scss */
.content .thing > .info {
  position: absolute;
  width: 450px;
  left: 50%;
  top: 150px;
  margin-left: -500px;
  color: white;
}
/* line 111, app/styles/index.scss */
.content .thing > .info > h1 {
  font-size: 48px;
}
/* line 114, app/styles/index.scss */
.content .thing > .info > p {
  font-size: 20px;
}
/* line 117, app/styles/index.scss */
.content .thing > .info > a {
  margin-top: 40px;
}
/* line 124, app/styles/index.scss */
.content .thing2 > .info {
  top: 70px;
  margin-left: 140px;
}
/* line 130, app/styles/index.scss */
.content .picks-staff {
  background-color: #f7fafa;
  padding: 60px 0;
  border-bottom: 1px solid #d9d9de;
  overflow: hidden;
  *zoom: 1;
}
/* line 137, app/styles/index.scss */
.content .picks-staff .title > a {
  float: right;
  color: #828587;
  font-size: 13px;
  margin-top: 4px;
}
/* line 143, app/styles/index.scss */
.content .picks-staff .title > h2 {
  margin: 0;
  padding-left: 20px;
  margin-bottom: 30px;
  font-size: 18px;
}
/* line 151, app/styles/index.scss */
.content .picks-staff .categories {
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 20px;
  border-right: 1px solid #d9d9de;
}
/* line 158, app/styles/index.scss */
.content .picks-staff .categories > li {
  font-size: 13px;
  padding: 5px 0;
  position: relative;
  cursor: pointer;
}
/* line 164, app/styles/index.scss */
.content .picks-staff .categories > li.selected {
  color: #00a0ff;
}
/* line 167, app/styles/index.scss */
.content .picks-staff .categories > li.selected::after {
  position: absolute;
  content: "";
  height: 100%;
  top: 0;
  right: -22px;
  width: 3px;
  background-color: #00a0ff;
}
/* line 180, app/styles/index.scss */
.content .picks-staff .staffs {
  float: right;
}
/* line 183, app/styles/index.scss */
.content .picks-staff .staffs .staff {
  display: inline-block;
  margin-left: 20px;
}
/* line 190, app/styles/index.scss */
.content .create {
  padding: 60px 0;
}
/* line 193, app/styles/index.scss */
.content .create > h1 {
  margin: 0;
  text-align: center;
  color: #828587;
}
/* line 199, app/styles/index.scss */
.content .create .create-options {
  margin-top: 60px;
  text-align: center;
  color: #828587;
}
/* line 204, app/styles/index.scss */
.content .create .create-options a.option {
  color: #828587;
}
/* line 207, app/styles/index.scss */
.content .create .create-options a.option:hover {
  background-color: #f7fafa;
}
/* line 212, app/styles/index.scss */
.content .create .create-options .option {
  display: inline-block;
  padding: 20px 50px;
  margin: 0 10px;
  font-size: 32px;
  vertical-align: middle;
}
/* line 219, app/styles/index.scss */
.content .create .create-options .option > i {
  display: block;
  font-size: 96px;
  margin-bottom: 20px;
}
/* line 224, app/styles/index.scss */
.content .create .create-options .option > i.fa-flask {
  color: #00a0ff;
}
/* line 227, app/styles/index.scss */
.content .create .create-options .option > i.fa-gears {
  color: #0a5ca9;
}
/* line 232, app/styles/index.scss */
.content .create .create-options .or {
  display: inline-block;
  position: relative;
  line-height: 194px;
  font-size: 24px;
  vertical-align: middle;
}
/* line 239, app/styles/index.scss */
.content .create .create-options .or::before, .content .create .create-options .or::after {
  position: absolute;
  display: block;
  content: "";
  height: 40px;
  left: 50%;
  border-left: 1px solid #d9d9de;
}
/* line 247, app/styles/index.scss */
.content .create .create-options .or::before {
  top: 30px;
}
/* line 250, app/styles/index.scss */
.content .create .create-options .or::after {
  bottom: 30px;
}
/* line 254, app/styles/index.scss */
.content .create .create-options .options {
  display: inline-block;
  width: 490px;
  text-align: left;
  vertical-align: middle;
}
/* line 260, app/styles/index.scss */
.content .create .create-options .options > li {
  display: inline-block;
}
/* line 263, app/styles/index.scss */
.content .create .create-options .options > li > a {
  text-align: center;
  color: #828587;
  display: block;
  padding: 10px 0;
  width: 100px;
  background-color: #f7fafa;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 274, app/styles/index.scss */
.content .create .create-options .options > li > a:hover {
  color: #0f2105;
}

/* line 284, app/styles/index.scss */
.footer {
  padding: 60px 0;
  background-color: #03203a;
  color: white;
  font-size: 14px;
}
/* line 290, app/styles/index.scss */
.footer .about {
  display: inline-block;
  margin-right: 80px;
}
/* line 294, app/styles/index.scss */
.footer .about > h3 {
  margin: 0;
}
/* line 297, app/styles/index.scss */
.footer .about > ul {
  margin-top: 20px;
}
/* line 300, app/styles/index.scss */
.footer .about > ul > li {
  margin: 10px 0;
  color: #828587;
  cursor: pointer;
}
/* line 308, app/styles/index.scss */
.footer .copyright {
  color: #828587;
  text-align: right;
}
/* line 312, app/styles/index.scss */
.footer .copyright .logo {
  font-size: 24px;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 328, app/styles/index.scss */
.fade-out {
  -webkit-animation: fadeOut 1s linear 0s forwards;
}
