/* line 1, /Users/anson/Develop/aixforce/in4-demo/app/images/icons.scss */
.icon-logo {
  width: 128px;
  height: 128px;
  background: url(/images/icons.png) 0px 0px no-repeat;
}

/* line 4, app/styles/app.scss */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  color: #0f2105;
  font-size: 16px;
}

/* line 17, app/styles/app.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 22, app/styles/app.scss */
ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 28, app/styles/app.scss */
.left {
  float: left;
}

/* line 32, app/styles/app.scss */
.right {
  float: right;
}

/* line 36, app/styles/app.scss */
ul.nav {
  display: block;
}
/* line 39, app/styles/app.scss */
ul.nav > li {
  display: inline-block;
}

/* line 44, app/styles/app.scss */
button, .btn {
  display: inline-block;
  border-radius: 5px;
  background: none;
  border: none;
  font-size: 16px;
  padding: 13px 30px;
  cursor: pointer;
}
/* line 53, app/styles/app.scss */
button.btn-big, .btn.btn-big {
  font-size: 18px;
}
/* line 56, app/styles/app.scss */
button.btn-large, .btn.btn-large {
  font-size: 32px;
  padding: 17px 45px;
}
/* line 60, app/styles/app.scss */
button.btn-round, .btn.btn-round {
  border-radius: 1000px;
}
/* line 63, app/styles/app.scss */
button.btn-primary, .btn.btn-primary {
  color: white;
  background-color: #0a5ca9;
  font-weight: bold;
}
/* line 68, app/styles/app.scss */
button.btn-border, .btn.btn-border {
  border: 2px solid white;
  color: white;
}
/* line 72, app/styles/app.scss */
button.btn-border:hover, .btn.btn-border:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 78, app/styles/app.scss */
.progress {
  display: block;
  height: 8px;
  width: 100%;
  border-radius: 1000px;
  background-color: #d9d9de;
}
/* line 85, app/styles/app.scss */
.progress > span {
  display: block;
  height: 8px;
  border-radius: 1000px;
  background-color: #00a0ff;
}
/* line 92, app/styles/app.scss */
.progress.progress-border {
  height: 6px;
  border: 1px solid white;
  position: relative;
  background-color: transparent;
}
/* line 98, app/styles/app.scss */
.progress.progress-border > span {
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: white;
}

/* line 108, app/styles/app.scss */
.progress-group .progress-info {
  display: block;
}
/* line 111, app/styles/app.scss */
.progress-group .progress-info > li {
  display: inline-block;
  line-height: 2em;
  font-weight: bold;
  margin-right: 20px;
}
/* line 117, app/styles/app.scss */
.progress-group .progress-info > li > span {
  opacity: 0.7;
  margin-right: 5px;
  font-weight: normal;
  font-size: 12px;
}

/* line 127, app/styles/app.scss */
.container-10 {
  width: 1000px;
  margin: 0 auto;
}

/* line 131, app/styles/app.scss */
.container-12 {
  width: 1200px;
  margin: 0 auto;
}
/* line 4, app/styles/detail.scss */
.content .item-primary-info-background {
  position: absolute;
  width: 100%;
  height: 450px;
  background-color: #f7fafa;
  border-bottom: 1px solid #d9d9de;
}
/* line 13, app/styles/detail.scss */
.content .item .primary-info {
  position: relative;
  padding: 60px 0 40px;
  border-bottom: 1px solid #d9d9de;
}
/* line 19, app/styles/detail.scss */
.content .item .primary-info .primary-image {
  /* border: 1px solid $border-color; */
  width: 600px;
  height: 500px;
  border-radius: 2px;
  background-position: 50% 50%;
  background-size: auto 100%;
}
/* line 29, app/styles/detail.scss */
.content .item .primary-info .tags {
  color: #828587;
  font-size: 14px;
  margin-top: 20px;
  font-weight: bold;
}
/* line 35, app/styles/detail.scss */
.content .item .primary-info .tags > li {
  display: inline-block;
  margin-right: 20px;
}
/* line 41, app/styles/detail.scss */
.content .item .primary-info > p {
  width: 600px;
  margin-bottom: 0;
  margin-top: 40px;
  font-size: 24px;
  line-height: 1.5em;
}
/* line 49, app/styles/detail.scss */
.content .item .primary-info .primary-right {
  width: 360px;
}
/* line 52, app/styles/detail.scss */
.content .item .primary-info .primary-right > h1 {
  margin: 0;
  font-size: 48px;
}
/* line 57, app/styles/detail.scss */
.content .item .primary-info .primary-right > ul {
  margin-top: 40px;
  height: 330px;
}
/* line 61, app/styles/detail.scss */
.content .item .primary-info .primary-right > ul > li {
  margin: 20px 0;
  font-size: 48px;
  font-weight: bold;
}
/* line 66, app/styles/detail.scss */
.content .item .primary-info .primary-right > ul > li > span {
  display: block;
  color: #828587;
  font-size: 16px;
  font-weight: normal;
}
/* line 75, app/styles/detail.scss */
.content .item .primary-info .primary-right .author {
  margin-top: 40px;
}
/* line 78, app/styles/detail.scss */
.content .item .primary-info .primary-right .author > h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
/* line 82, app/styles/detail.scss */
.content .item .primary-info .primary-right .author > span {
  display: block;
  color: #828587;
  font-size: 14px;
  margin: 5px 0;
}
/* line 88, app/styles/detail.scss */
.content .item .primary-info .primary-right .author > a {
  color: #00a0ff;
  display: inline-block;
  margin-top: 10px;
  margin-right: 60px;
  font-weight: bold;
}
/* line 95, app/styles/detail.scss */
.content .item .primary-info .primary-right .author > .author-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: 100% 100%;
}
/* line 106, app/styles/detail.scss */
.content .detail {
  height: 800px;
}
/* line 110, app/styles/detail.scss */
.content .detail .tabs > li {
  cursor: pointer;
  display: inline-block;
  margin-right: 40px;
  padding: 30px 0;
}
/* line 116, app/styles/detail.scss */
.content .detail .tabs > li.selected {
  border-bottom: 4px solid #0a5ca9;
}
/* line 4, app/styles/index.scss */
.header {
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #d9d9de;
}
/* line 5, app/styles/index.scss */
.header.absolute {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 15, app/styles/index.scss */
.header h1.site-logo {
  display: block;
  margin: 0;
  padding: 20px 40px;
  line-height: 20px;
  font-size: 24px;
  font-weight: normal;
}
/* line 23, app/styles/index.scss */
.header h1.site-logo .haier {
  color: #0a5ca9;
}
/* line 26, app/styles/index.scss */
.header h1.site-logo .diy {
  font-weight: bold;
  color: #00a0ff;
}
/* line 32, app/styles/index.scss */
.header .user-nav {
  padding-left: 20px;
  margin-right: 40px;
  /* border-left: 1px solid $border-color; */
}
/* line 37, app/styles/index.scss */
.header .user-nav > li > a {
  display: block;
  padding: 20px 15px;
  line-height: 20px;
  color: #00a0ff;
}
/* line 43, app/styles/index.scss */
.header .user-nav > li > a:hover {
  color: #828587;
  background-color: #f7fafa;
}
/* line 50, app/styles/index.scss */
.header .search {
  display: inline-block;
  padding: 20px 40px;
  line-height: 20px;
}
/* line 55, app/styles/index.scss */
.header .search > i {
  margin-right: 20px;
  color: #828587;
}
/* line 60, app/styles/index.scss */
.header .search > input {
  border: none;
  width: 720px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  background: none;
}
/* line 70, app/styles/index.scss */
.header .border-left {
  position: relative;
}
/* line 73, app/styles/index.scss */
.header .border-left::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 26px;
  height: 10px;
  border-left: 1px solid #828587;
}

/* line 86, app/styles/index.scss */
.content .important-things {
  width: 100%;
  height: 600px;
  background-position: 50% 50%;
  background-size: 100% auto;
}
/* line 92, app/styles/index.scss */
.content .important-things > .info {
  position: absolute;
  width: 450px;
  left: 50%;
  top: 150px;
  margin-left: -500px;
  color: white;
}
/* line 100, app/styles/index.scss */
.content .important-things > .info > h1 {
  font-size: 48px;
}
/* line 103, app/styles/index.scss */
.content .important-things > .info > p {
  font-size: 20px;
}
/* line 106, app/styles/index.scss */
.content .important-things > .info > a {
  margin-top: 40px;
}
/* line 112, app/styles/index.scss */
.content .picks-staff {
  background-color: #f7fafa;
  padding: 60px 0;
  border-bottom: 1px solid #d9d9de;
  overflow: hidden;
  *zoom: 1;
}
/* line 119, app/styles/index.scss */
.content .picks-staff .title > a {
  float: right;
  color: #828587;
  font-size: 13px;
  margin-top: 4px;
}
/* line 125, app/styles/index.scss */
.content .picks-staff .title > h2 {
  margin: 0;
  padding-left: 20px;
  margin-bottom: 30px;
  font-size: 18px;
}
/* line 133, app/styles/index.scss */
.content .picks-staff .categories {
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 20px;
  border-right: 1px solid #d9d9de;
}
/* line 140, app/styles/index.scss */
.content .picks-staff .categories > li {
  font-size: 13px;
  padding: 5px 0;
  position: relative;
  cursor: pointer;
}
/* line 146, app/styles/index.scss */
.content .picks-staff .categories > li.selected {
  color: #00a0ff;
}
/* line 149, app/styles/index.scss */
.content .picks-staff .categories > li.selected::after {
  position: absolute;
  content: "";
  height: 100%;
  top: 0;
  right: -22px;
  width: 3px;
  background-color: #00a0ff;
}
/* line 162, app/styles/index.scss */
.content .picks-staff .staffs {
  float: right;
}
/* line 165, app/styles/index.scss */
.content .picks-staff .staffs .staff {
  display: inline-block;
  width: 416px;
  margin-left: 20px;
  cursor: pointer;
}
/* line 171, app/styles/index.scss */
.content .picks-staff .staffs .staff .image {
  border-radius: 5px 5px 0 0;
  height: 200px;
  background-position: 50% 50%;
  background-size: 100% auto;
  position: relative;
}
/* line 178, app/styles/index.scss */
.content .picks-staff .staffs .staff .image > .author {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 5px 0 0;
  padding: 3px 10px;
  color: white;
  font-size: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 193, app/styles/index.scss */
.content .picks-staff .staffs .staff .infos {
  border-radius: 0 0 5px 5px;
  border-left: 1px solid #d9d9de;
  border-right: 1px solid #d9d9de;
  border-bottom: 1px solid #d9d9de;
  padding: 10px;
  font-size: 14px;
}
/* line 203, app/styles/index.scss */
.content .picks-staff .staffs .staff .infos > h3 {
  margin: 0;
}
/* line 206, app/styles/index.scss */
.content .picks-staff .staffs .staff .infos > p {
  color: #828587;
  height: 80px;
}
/* line 215, app/styles/index.scss */
.content .create {
  padding: 60px 0;
}
/* line 218, app/styles/index.scss */
.content .create > h1 {
  margin: 0;
  text-align: center;
  color: #828587;
}
/* line 224, app/styles/index.scss */
.content .create .create-options {
  margin-top: 60px;
  text-align: center;
  color: #828587;
}
/* line 229, app/styles/index.scss */
.content .create .create-options a.option {
  color: #828587;
}
/* line 232, app/styles/index.scss */
.content .create .create-options a.option:hover {
  background-color: #f7fafa;
}
/* line 237, app/styles/index.scss */
.content .create .create-options .option {
  display: inline-block;
  padding: 20px 50px;
  margin: 0 10px;
  font-size: 32px;
  vertical-align: middle;
}
/* line 244, app/styles/index.scss */
.content .create .create-options .option > i {
  display: block;
  font-size: 96px;
  margin-bottom: 20px;
}
/* line 249, app/styles/index.scss */
.content .create .create-options .option > i.fa-flask {
  color: #00a0ff;
}
/* line 252, app/styles/index.scss */
.content .create .create-options .option > i.fa-gears {
  color: #0a5ca9;
}
/* line 257, app/styles/index.scss */
.content .create .create-options .or {
  display: inline-block;
  position: relative;
  line-height: 194px;
  font-size: 24px;
  vertical-align: middle;
}
/* line 264, app/styles/index.scss */
.content .create .create-options .or::before, .content .create .create-options .or::after {
  position: absolute;
  display: block;
  content: "";
  height: 40px;
  left: 50%;
  border-left: 1px solid #d9d9de;
}
/* line 272, app/styles/index.scss */
.content .create .create-options .or::before {
  top: 30px;
}
/* line 275, app/styles/index.scss */
.content .create .create-options .or::after {
  bottom: 30px;
}
/* line 279, app/styles/index.scss */
.content .create .create-options .options {
  display: inline-block;
  width: 490px;
  text-align: left;
  vertical-align: middle;
}
/* line 285, app/styles/index.scss */
.content .create .create-options .options > li {
  display: inline-block;
}
/* line 288, app/styles/index.scss */
.content .create .create-options .options > li > a {
  text-align: center;
  color: #828587;
  display: block;
  padding: 10px 0;
  width: 100px;
  background-color: #f7fafa;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 299, app/styles/index.scss */
.content .create .create-options .options > li > a:hover {
  color: #0f2105;
}

/* line 309, app/styles/index.scss */
.footer {
  padding: 60px 0;
  background-color: #03203a;
  color: white;
  font-size: 14px;
}
/* line 315, app/styles/index.scss */
.footer .about {
  display: inline-block;
  margin-right: 80px;
}
/* line 319, app/styles/index.scss */
.footer .about > h3 {
  margin: 0;
}
/* line 322, app/styles/index.scss */
.footer .about > ul {
  margin-top: 20px;
}
/* line 325, app/styles/index.scss */
.footer .about > ul > li {
  margin: 10px 0;
  color: #828587;
  cursor: pointer;
}
/* line 333, app/styles/index.scss */
.footer .copyright {
  color: #828587;
  text-align: right;
}
/* line 337, app/styles/index.scss */
.footer .copyright .logo {
  font-size: 24px;
}
